
{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
    {{#each posts as |post|}}
      {{> dashboard-postinfo post}}
    {{/each}}

</section>
{{/if}}

<h3>Creat a New Post</h1>

<button type="submit" id="new-post" class="btn"><a class="link" href="/dashboard/new">New Post</a></button>

<script src="/javascript/add-post.js"></script>